AZURE_CREDS=$(vault read -format=json azure/creds/azure-deployer) && export AZURE_CLIENT_ID=$(echo $AZURE_CREDS | jq .data.client_id -r) && export AZURE_CLIENT_SECRET=$(echo $AZURE_CREDS | jq .data.client_secret -r)
